@model List<FornecedorModel>
@{
	ViewData["Title"] = "Lista de Fornecedores";
}

<header class="container p-3">
	<div class="row align-items-center">
		<div class="col-sm-6"><h1>@ViewData["Title"]</h1></div>
		<div class="col-sm-6 text-end"><a class="btn btn-info" asp-action="Criar">Novo Fornecedor</a></div>
	</div>
</header>

<main class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Razão Social</th>
				<th>Nome Fantasia</th>
				<th>Responsável</th>
				<th>Telefone</th>
				<th class="text-center">Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach(FornecedorModel fornecedor in Model)
			{
				<tr>
					<td>@fornecedor.RazaoSocial</td>
					<td>@fornecedor.NomeFantasia</td>
					<td>@fornecedor.Responsavel</td>
					<td>@fornecedor.Telefone</td>
					<td class="text-center">
						<a class="btn btn-primary btn-sm" asp-controller="Fornecedor" asp-action="Editar" asp-route-id="@fornecedor.Id">Alterar</a>
						<form class="d-inline-block" asp-controller="Fornecedor" asp-action="Apagar" asp-route-id="@fornecedor.Id" method="post">
							<button class="btn btn-danger btn-sm" onclick="ConfirmaExclusao(this);" type="button">Excluir</button>
						</form>

					</td>
				</tr>
			}
			
		</tbody>
	</table>
</main>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_CustomConfirm");
	}
}